<app-nav-bar [scope]="'publications'"></app-nav-bar>
<article>
  <section class="en">
    <h2>Publications (פירסומים):</h2>
    <ol>
      <li>
        Hershko, M.D., Jabotinsky, K., Mager, J. Studies on red call nucleoside
        triphosphate pyrophosphohydrolases. Israel Journal of Medical Sciences
        5: 991-997, 1969.
      </li>
      <li>
        Lerer, B., Jabotinsky-Rubin, K., Belmaker, R.H. Electroconvulsive
        treatment-biological mechanisms of action. Hrefua 101: 221-223, 1981.
        (Hebrew).
      </li>
      <li>
        Lerer, B., Jabotinsky-Rubin, K., Bannet, J., Ebstein, R. P., Belmaker,
        R.H. Electroconvulsive shock prevents dopamine receptor
        supersensitivity. European Journal of Pharmacology 80: 131-134,1982.
      </li>
      <li>
        Jabotinsky-Rubin, K., Durst, R., Levitin, L-A., Moscovich, D.G., Silver,
        H.,Lerner, J., van Praag, H.M. Gardner, E.L. Effects of halperidol on
        human plasma magnesium. Journal of Psychiatric Research 27 vol 2:
        155-159, 1993.
      </li>
      <li>
        Durst, R., Minuchin-Itzgsohn, S., Jabotinsky-Rubin, K., ‘Brain Fag’
        Syndrome: Manifestation of transculturation in a Ethiopian Jewish
        Immigrant. Israel Journal of Psychiatry vol 30 no. 4: 223-232, 1993.
      </li>
      <li>
        Durst, R., Jabotinsky-Rubin, K., Dorevitch, A., Kiknzon, L., Idiopathic
        unconjugated hyperbilirubinemia (Gilbert’s Syndrome) and concurrent
        psychotropic drug administration. Pharmacopsychiatry, 26: 49-52, 1993.
      </li>
      <li>
        Durst, R., Jabotinsky-Rubin, K., Ginath, Y., A look at court appointed
        psychiatric evaluation with special reference to criminal liability.
        International Journal of Medicine and Law, 12: 153-163, 1993.
      </li>
      <li>
        Durst, R., jabotinsky-Rubin, K., Ginath, Y., Electroconvulsive
        treatment: The right to accept versus the right to refuse it - critical
        analysis and suggestions for changes. Harefuah 126: 80-84, 1994.
        (Hebrew).
      </li>
      <li>
        Dorevitch, A., Cohen-Adad, G., Jabotinksy-Rubin, K., Durst, R.,
        Lithium-Associated Psoriasis. Harefuah 127: 228-213, 1994. (Hebrew).
      </li>
      <li>
        Durst, R., Jabotinsky-Rubin, K., Fliman, M., Pseudopsychopathic
        schizophrenia a neglected entity with legal implications International
        Journal of Medicine and Law 16(3): 487-498, 1997
      </li>
      <li>
        Durst, R., Katz, G., Jabotinsky-Rubin, K., Konobler, H.Y., Kleptomania:
        phenomenological, clinical and legal viewpoints. Harefuah, 133: 441-441,
        1997
      </li>
      <li>
        Durst, RPI., Rubin-Jabotinsky, KPI., Raskin, SPI., Zislin, JC., Katz,
        GC., Risperidone in Treating Behavioral Disorders of Prader-Willi
        Syndrome. Acta Psychiatrica Scandinavica, 102: 461-465, (2.288, 34/90,
        3), 2000
      </li>
      <li>
        Rubin, K., Pacing Depression: Overview of Efficacy Studies of Vagus
        Nerve Stimulation (VNS) Treatment in Resistant Depression. Medicine, vol
        5: 10-13, 2007. (Hebrew).
      </li>
      <li>
        Rubin, K., The first decade supervision of the Sick Funds by the
        Ombudsman of the Israeli National Health Insurance Act. Accepted for
        publication by the Journal of medicine and law. (Hebrew).
      </li>
    </ol>
  </section>
  <section class="en">
    <h2>Letter to the Editor (מכתבים למערכת):</h2>
    <ol>
      <li>
        Durst, R., Jabotinsky-Rubin, K., Raskin, S., Katz, G., Zislin, J.,
        Risperidone, in Prader Willi Syndrome. Journal. Am. Child
        Adolesc.Psychiatry, 59:5, 2000.
      </li>
    </ol>
  </section>
  <section class="en">
    <h2>Abstracts (תקצירים):</h2>
    <ol>
      <li>
        Durst R, Oren-Wolman N, Jabotinsky-Rubin K and Fliman M:
        PseudopPsychopatio Schizophrenia - A Neglected Diagnostic Entity. 16th
        International Congress on Law and Medical Health. June 20-24, Toronto
        Canada, 1990.
      </li>
      <li>
        Jabotinsky-Rubin K, Durst R, Levitin L-A, Moscovich D.G, Silver H.
        Lerner J, van Praag H.M and Gardner E.L: Effects of Haloperidol on Human
        Plasma Magnesium. The Seventh National V of the Israel Psychiatric
        Association, Jerusalem, 1991.
      </li>
      <li>
        Durst R, Oren-Wolman N, Jabotinsky-Rubin K and Fliman M: Pseudop
        Psychopatic Schizophrenia - A Neglected Diagnostic Entity. The Seventh
        National Congress of the Israel Psychiatric Association, Jerusalem,
        1991.
      </li>
      <li>
        Ritsner M, Ginath Y, Karas S, Drigalenko E, Sherina O, Jabotinsky-Rubin
        K and Durst R: Linkage Studies of Schizophrenia: A Genetic
        Epidemiological Strategy.
      </li>
      <li>
        Weiss Y, Goldberg A and Jabotinsky-Rubin K. Development of the
        institution of the ombudsman for the national health insurance law in
        Israel following the enactment of an health obligatory national
        insurance act, 40 International Congress on the History of Medicine,
        Budapest, 2006.
      </li>
      <li>
        Jabotinsky-Rubin K, van Creveld A and Weiss Y. Reform in the Enforcement
        of the Health Ombudsman’s Resolutions in Israel, The Third International
        Jerusalem Conference on Health Policy, Jerusalem 2006 (Poster,
        accepted).
      </li>
      <li>
        Jabotinsky-Rubin K, and DeNeen I. The common mechanism of action of
        Vagus Nerve Stimulation Therapy and Electroconvulsive Therapy. Presented
        in the Israel Biological Psychiatric Association Annual Congress, 2008.
      </li>
    </ol>
  </section>
  <section>
    <h2>דוחות שנתיים של נציב קבילות לחוק ביטוח בריאות ממלכתי:</h2>
    <ol>
      <li>דוח מס' 1, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנת 1997</li>
      <li>דוח מס' 2, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנים 1998-1999</li>
      <li>דוח מס' 3, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנת 2000</li>
      <li>דוח מס' 4, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנת 2001</li>
      <li>דוח מס' 5, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנים 2002-2003</li>
      <li>דוח מס' 6, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנים 2004-2005</li>
      <li>
        דוח מס' 7, נציב קבילות לחוק ביטוח בריאות ממלכתי, לשנת 2006 וסיכום עשור
        לנציבות
      </li>
    </ol>
  </section>
</article>
